meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="format-detection" content="telephone=no")
if pageTitle
  title #{pageTitle} | Pug Sample
else
  title Pug Sample
meta(name="description" content=pageDescription)

block css
  link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
  link(rel="stylesheet" href="/common/css/common.css")

block js
  script(src="https://unpkg.com/swiper/js/swiper.min.js")