@charset "utf-8";
.l-footer {
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 1.4rem;
  background: #000;
  box-sizing: border-box;

  @include mq (sp) {
    padding: 0;
  }
}